// 以::-webkit-xx的形式设置滚动条样式
@mixin scrollbarWebKit(
  // 滑块颜色
  $thumb-color: #bfbfbf,
  // 轨道颜色
  $track-color: transparent,
  // 滚动条宽度
  $width: 8px,
  // 设置scrollbar-gutter 控制浏览器如何为滚动条预留空间
  $gutter: stable both-edges
) {
  scrollbar-gutter: $gutter;
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: 9999px;
  }
}

// 以scroll-xx的形式设置滚动条样式 样式调整范围小
@mixin scrollbar(
  // 滑块颜色
  $thumb-color: #bfbfbf,
  // 轨道颜色
  $track-color: transparent,
  // 滚动条宽度 auto/thin/none
  $width: auto,
  // 设置scrollbar-gutter 控制浏览器如何为滚动条预留空间
  $gutter: stable both-edges
) {
  scrollbar-gutter: $gutter;
  scrollbar-width: $width;
  scrollbar-color: $thumb-color $track-color;
}
